.secondary-frame-child {
  height: 156px;
  width: 1440px;
  position: relative;
  background-color: var(--color-gray);
  backdrop-filter: blur(4px);
  display: none;
  max-width: 100%;
}

.facebook-icon,
.solarrecordsquarelinear-icon,
.x-icon {
  height: 32px;
  width: 30px;
  position: relative;
  min-height: 32px;
}

.description {
  width: 192px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  gap: 0 24px;
  z-index: 2;
}
.all-rights-reserved {
  position: relative;
  white-space: nowrap;
  z-index: 2;
}
.vector-xicon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 11px 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.secondary-frame {
  align-self: stretch;
  background-color: var(--color-gray);
  backdrop-filter: blur(4px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-34xl) var(--padding-16xl) var(--padding-17xl)
    var(--padding-27xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-7xl-3);
  color: var(--color-yellow-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 825px) {
  .secondary-frame {
    padding-left: var(--padding-4xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .secondary-frame {
    flex-direction: column;
    gap: 10px;
    padding: 15px 25px;
  }
  .vector-xicon{
    align-items: flex-start;
    font-size: 10px;
    gap: 10px;
  }
  .facebook-icon,
.solarrecordsquarelinear-icon,
.x-icon,.linkein-con-icon{
  height: 23px;
  width: 24px;
}
.description{
  gap: 0 17px;
  align-items: flex-start;
  justify-content: flex-start;
}
}
